{%  extends "base.html"  %}

{% block title %}
Pricing
{% endblock title %}


{% block content %}
<!-- Pricing -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-foreground">Find the right plan for your team</h2>
    <p class="mt-1 text-muted-foreground-2">Pay as you go service, cancel anytime.</p>
  </div>
  <!-- End Title -->

  <!-- Grid -->
  <div class="relative before:absolute before:inset-0 before:-z-1 before:bg-[radial-gradient(closest-side,var(--color-surface-1),transparent)] mt-12">
    <div class="grid gap-px sm:grid-cols-2 lg:grid-cols-4 lg:items-center">
      <!-- Card -->
      <div class="flex flex-col h-full text-center">
        <div class="bg-card pt-8 pb-5 px-8">
          <h4 class="font-medium text-lg text-foreground">Free</h4>
        </div>

        <div class="h-full bg-card lg:mt-px lg:py-5 px-8">
          <span class="mt-7 font-bold text-5xl text-foreground">
            Free
          </span>
        </div>

        <div class="bg-card flex justify-center lg:mt-px pt-7 px-8">
          <ul class="space-y-2.5 text-center text-sm">
            <li class="text-foreground">
              1 user
            </li>

            <li class="text-foreground">
              Plan features
            </li>

            <li class="text-foreground">
              Product support
            </li>
          </ul>
        </div>

        <div class="bg-card py-8 px-8">
          <a class="py-3 px-4 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-primary text-primary hover:border-primary-hover hover:text-primary-hover focus:outline-hidden focus:border-primary-focus focus:text-primary-focus disabled:opacity-50 disabled:pointer-events-none" href="#">
            Sign up
          </a>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="flex flex-col h-full text-center">
        <div class="bg-card pt-8 pb-5 px-8">
          <h4 class="font-medium text-lg text-foreground">Startup</h4>
        </div>

        <div class="h-full bg-card lg:mt-px lg:py-5 px-8">
          <span class="mt-7 font-bold text-5xl text-foreground">
            <span class="font-bold text-2xl -me-2">$</span>
            39
          </span>
        </div>

        <div class="bg-card flex justify-center lg:mt-px pt-7 px-8">
          <ul class="space-y-2.5 text-center text-sm">
            <li class="text-foreground">
              2 users
            </li>

            <li class="text-foreground">
              Plan features
            </li>

            <li class="text-foreground">
              Product support
            </li>
          </ul>
        </div>

        <div class="bg-card py-8 px-8">
          <a class="py-3 px-4 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-primary text-primary hover:border-primary-hover hover:text-primary-hover focus:outline-hidden focus:border-primary-focus focus:text-primary-focus disabled:opacity-50 disabled:pointer-events-none" href="#">
            Sign up
          </a>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="flex flex-col h-full text-center">
        <div class="bg-card pt-8 pb-5 px-8">
          <h4 class="font-medium text-lg text-foreground">Team</h4>
        </div>

        <div class="h-full bg-card lg:mt-px lg:py-5 px-8">
          <span class="mt-7 font-bold text-5xl text-foreground">
            <span class="font-bold text-2xl -me-2">$</span>
            89
          </span>
        </div>

        <div class="bg-card flex justify-center lg:mt-px pt-7 px-8">
          <ul class="space-y-2.5 text-center text-sm">
            <li class="text-foreground">
              5 users
            </li>

            <li class="text-foreground">
              Plan features
            </li>

            <li class="text-foreground">
              Product support
            </li>
          </ul>
        </div>

        <div class="bg-card py-8 px-8">
          <a class="py-3 px-4 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-primary text-primary hover:border-primary-hover hover:text-primary-hover focus:outline-hidden focus:border-primary-focus focus:text-primary-focus disabled:opacity-50 disabled:pointer-events-none" href="#">
            Sign up
          </a>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="flex flex-col h-full text-center">
        <div class="bg-card pt-8 pb-5 px-8">
          <h4 class="font-medium text-lg text-foreground">Enterprise</h4>
        </div>

        <div class="h-full bg-card lg:mt-px lg:py-5 px-8">
          <span class="mt-7 font-bold text-5xl text-foreground">
            <span class="font-bold text-2xl -me-2">$</span>
            149
          </span>
        </div>

        <div class="bg-card flex justify-center lg:mt-px pt-7 px-8">
          <ul class="space-y-2.5 text-center text-sm">
            <li class="text-foreground">
              10 users
            </li>

            <li class="text-foreground">
              Plan features
            </li>

            <li class="text-foreground">
              Product support
            </li>
          </ul>
        </div>

        <div class="bg-card py-8 px-8">
          <a class="py-3 px-4 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-primary text-primary hover:border-primary-hover hover:text-primary-hover focus:outline-hidden focus:border-primary-focus focus:text-primary-focus disabled:opacity-50 disabled:pointer-events-none" href="#">
            Sign up
          </a>
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Grid -->
</div>
<!-- End Pricing -->

{% endblock content %}